.refunds {
  padding: 16px;
}

.title {
  color: black;
  font-size: 18px;
  font-weight: bold;
  text-align: left;
  margin-top: -16px;
}

.info-text {
  font-size: 16px;
  color: black;
  text-align: left;
}

.close-icon {
  color: #888888;
  font-size: 22px;
  text-align: right;
}

.uderstood-btn {
  color: white;
  text-transform: none;
  border-radius: 4px;
  font-size: 16px;
  height: 48px;
  background: #04565a;
  margin-top: 32px;
}
