.productImageItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  ion-img {
    height: 77.295vw;
  }
}
.preLoading {
  position: absolute;
  width: 100vw;
  height: 77.295vw;
}
:global(.productDetailModal .productImageList .productImageItem) {
  height: 100%;
  align-items: center;
  justify-content: center;
  background: black;
}
