ion-skeleton-text.img.card,
ion-img.card {
  width: 44px;
  height: 24px;
  margin: 0 6px 0 0;
}

ion-item {
  --border-radius: 5px !important;
  --border-width: 1px !important;
  --inner-border-width: 0;
  --border-color: #e4e5e6;
}
