img {
  position: absolute;
  top: 26px;
  right: 26px;
}

div.flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;

  div.header {
    margin-bottom: 32px;

    p {
      font-weight: 500;
      font-size: 20px;
      line-height: 24px;
    }
  }

  p {
    font-size: 18px;
    text-align: center;
    margin: 0;
  }

  p.payment-failed {
    font-size: 26px;
    color: #fa3434;
  }
}

ion-footer {
  // https://treedots.atlassian.net/browse/TREE-2386
  &:before {
    background-image: none;
  }

  ion-button.checkout-btn {
    margin-top: 0;
  }
}
